<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<% result.forEach(element=>{ %>
<div>
<p> Joke Number: <%= element.id %></p>
<p> type: <%= element.type %></p>
<p> setup: <%= element.setup %></p>
<p> punchline: <%= element.punchline %></p>

<form action="/joke" method="POST">

<input hidden type="text" name="number" value="<%= element.id %>">
<input hidden type="text" name="type" value="<%= element.type %>">
<input hidden type="text" name="setup" value="<%= element.setup %>">
<input hidden type="text" name="punchline" value="<%= element.punchline %>">
<button type="submit" name="submit">add to fav</button>


</form>

</div>
  <% }); %>



</body>
</html>